<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask Question | StackOverflow-Lite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <header id="navbar">
            <ul style="margin: 5px 0;">
                <li style="margin-left: 200px;">
                    <div class="logo-holder">
                        <a href="#" class="navlink"><span class="logo">
                                <img src="../images/favicon.png">
                            </span>stack<span class="bold">overflow</span> Lite</span>
                        </a>
                    </div>
                </li>
                <li>
                    <input type="text" class="formctrl centered" placeholder="Search...">
                </li>
                <li class="righter" style="padding-right: 30px;">
                    <a href="#" class="links links-misc">Sign In</a>
                </li>
                <li class="righter">
                    <button type="submit" class="buttonz buttonz-primary">Sign Up</button>
                </li>

            </ul>
        </header>
        <main>
            <div class="left_column ps-sticky">
                <ul class="left_nav">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Tags</a>
                    </li>
                    <li>
                        <a href="">Users</a>
                    </li>
                </ul>
            </div>
            <div class="center_column">
                <div class="centered columns-6 columns-offset-3">
                    <p class="info">Ask your question in the text field below. Please be as descriptive a possible to
                        enable others to understand your question fully</p>
                </div>
                <form action="" class="centered columns-12">
                    <textarea name="question" id="question" cols="50" rows="5" placeholder="Type your question here..."></textarea>

                    <div>
                        <input type="submit" value="Submit" class="buttonz buttonz-info">
                    </div>

                </form>

            </div>
            <div class="right_column">
                <div class="ad_banner">
                    <img src="" alt="Ad Banner">
                </div>
            </div>
        </main>
        <footer class="ps-absolute">
            <div id="social">
                <ul>
                    <li>
                        <a href="#">Pivotal Tracker</a>
                    </li>
                    <li>
                        <a href="#">Github</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </div>
            <div id="copyright">
                <p>Copyright &copy;2018</p>
            </div>
        </footer>
    </div>
</body>

</html>